@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 24%;
  color: #464343;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 11%;
  color: #464343;
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 174%;
  letter-spacing: 17%;
  color: #464343;
  text-transform: uppercase;
}

span,
a,
text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 174%;
  color: rgba(0, 0, 0, 0.64);
}

.wrapper {
  max-width: 1812px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 54px;
}

.lazy {
  background-color: #f2e9e4;
  -webkit-animation: fadeIn ease 1s;
          animation: fadeIn ease 1s;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  background-color: #f2e9e4;
  padding-top: 45px;
  padding-bottom: 28px;
}
header .hamburger-menu .social {
  padding: 0px 0px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: 0px;
}
header .hamburger-menu .social span {
  font-size: 20px;
}
header .hamburger-menu .social img {
  opacity: 60%;
  width: 30px;
}
header .hamburger-menu #menu__toggle {
  opacity: 0;
}
header .hamburger-menu #menu__toggle:checked + .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .hamburger-menu #menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
header .hamburger-menu #menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
header .hamburger-menu #menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
header .hamburger-menu .menu__btn {
  position: absolute;
  top: 10px;
  right: 26px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
header .hamburger-menu .menu__btn > span,
header .hamburger-menu .menu__btn > span::before,
header .hamburger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .hamburger-menu .menu__btn > span::before {
  content: "";
  top: -8px;
}
header .hamburger-menu .menu__btn > span::after {
  content: "";
  top: 8px;
}
header .hamburger-menu .menu__box {
  z-index: 100;
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: white;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .hamburger-menu .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .hamburger-menu .menu__item:hover {
  background-color: #cfd8dc;
}

.header-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-content nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
}
.header-content nav .social {
  border-radius: 30px;
  padding: 5px 10px;
  border: 1px solid black;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header-content nav .social img {
  opacity: 60%;
  width: 30px;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  padding: 10px 75px;
  background-color: #464343;
  color: white;
}
.chat h1 {
  color: white;
  padding: 12px;
}

.about {
  gap: 5vw;
  position: relative;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about .image-cont {
  width: 40vw;
  max-width: 800px;
  height: 100vh;
  max-height: 700px;
}
.about .image-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* изображения внутри - покрывают */
}
.about .about-text {
  padding: 75px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2e9e4;
}
.about .about-text span {
  margin-top: 20px;
}

.actities {
  max-width: 1750px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5vw;
}
.actities .active-card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  max-width: 437px; /* Ограничьте ширину контейнера для теста */
}
.actities .active-card .back {
  top: -60px;
  left: -60px;
  position: absolute;
  z-index: -10;
  background-color: #f2e9e4;
  width: 25vw;
  max-width: 437px;
  height: 60vh;
  max-height: 600px;
}
.actities .active-card img {
  z-index: 10;
  width: 25vw;
  max-width: 437px;
  height: 60vh;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover; /* изображения внутри - покрывают */
}
.actities .active-card h2,
.actities .active-card span {
  width: 100%;
  max-width: 437px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* Позволяет переносить текст */
  overflow: hidden; /* Скрывает переполнение */
  text-overflow: ellipsis; /* Добавляет многоточие для переполненного текста */
}
.actities .active-card h2 {
  padding-top: 60px;
}
.actities .active-card span {
  padding-top: 35px;
}
.actities .active-card h3 {
  padding-top: 43px;
}

.community {
  margin-top: 150px;
  background-image: url(./img/osennij-pejzazh.jpg);
  background-size: cover;
  background-color: #f2e9e4;
}
.community .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 790px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.community .wrapper .window {
  height: 450px;
  z-index: 10;
  position: absolute;
  top: 83px;
  left: 188px;
  width: 25vw;
  max-width: 496px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 39px 166px 154px 96px;
}
.community .wrapper .window span {
  padding-top: 40px;
  padding-bottom: 82px;
}
.community .wrapper .avatar {
  background-color: white;
  position: absolute;
  padding: 27px;
  top: 83px;
  right: 227px;
  z-index: 10;
  width: 25vw;
  max-width: 496px;
  height: 90vh;
  max-height: 747px;
  -o-object-fit: cover;
     object-fit: cover;
}

.objects {
  height: auto;
  background-color: #f2e9e4;
  margin-top: 130px;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
.objects h2 {
  padding-bottom: 70px;
  text-align: center;
}
.objects .swiper {
  width: 100%;
  height: 100%;
}
.objects .swiper-slide {
  height: auto;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.objects .swiper-slide .active-card {
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  max-width: 200px; /* Ограничьте ширину контейнера для теста */
}
.objects .swiper-slide .active-card .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.objects .swiper-slide .active-card .heading span {
  font-size: 17px;
  margin-top: 15px;
}
.objects .swiper-slide .active-card img {
  z-index: 10;
  width: 25vw;
  max-width: 200px;
  height: 50vh;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover; /* изображения внутри - покрывают */
}
.objects .swiper-slide .active-card h2,
.objects .swiper-slide .active-card span {
  width: 100%;
  max-width: 437px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* Позволяет переносить текст */
  overflow: hidden; /* Скрывает переполнение */
  text-overflow: ellipsis; /* Добавляет многоточие для переполненного текста */
}
.objects .swiper-slide .active-card h2 {
  font-size: 18px;
  padding-top: 30px;
}
.objects .swiper-slide .active-card h3 {
  height: 40px;
  padding-top: 15px;
  text-align: center;
}
.objects .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.objects .swiper-button-next,
.objects .swiper-button-prev {
  color: rgb(192, 151, 151);
}
.objects .arrows {
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.objects .arrows .swiper-button-next {
  position: absolute;
  right: -40px;
}
.objects .arrows .swiper-button-prev {
  position: absolute;
  left: -40px;
}
.objects .swiper-horizontal > .swiper-pagination-bullets,
.objects .swiper-pagination-bullets.swiper-pagination-horizontal,
.objects .swiper-pagination-custom,
.objects .swiper-pagination-fraction {
  bottom: 40px;
}
.objects .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}
.objects .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

/* *****  GALLERIES ***** */
.gallery {
  padding-top: 100px;
  /* Another way to do the same without declaring in the classes - remove h-x w-x from classes */
  /* .gallery-wrapper {
      padding: 2rem 10rem;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(5, 300px);
      grid-auto-rows: 200px;
      grid-gap: 1rem;
      grid-auto-flow: dense;
    }
     */
}
.gallery h2 {
  padding-bottom: 70px;
  text-align: center;
}
.gallery .gallery-wrapper {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2.5vw;
  grid-auto-flow: dense;
}
.gallery .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery .gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery .gallery-item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.gallery .gallery-item .image img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.gallery .w-1 {
  grid-column: span 1;
}
.gallery .w-2 {
  grid-column: span 2;
}
.gallery .w-3 {
  grid-column: span 3;
}
.gallery .w-4 {
  grid-column: span 4;
}
.gallery .w-5 {
  grid-column: span 5;
}
.gallery .h-1 {
  grid-row: span 1;
}
.gallery .h-2 {
  grid-row: span 2;
}
.gallery .h-3 {
  grid-row: span 3;
}
.gallery .h-4 {
  grid-row: span 4;
}
.gallery .h-5 {
  grid-row: span 5;
}

/* ***** LIGHTBOX EFFECT ***** */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#lightbox.fade-in {
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 187, 187, 0.9);
  display: none;
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
}

#lightbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
}

#lightbox img {
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  /* border-radius: 1%; */
  /* background-color: white; */
}

.footer {
  padding-top: 150px;
  padding-bottom: 50px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1700px) {
  header nav .social {
    display: none !important;
  }
}
@media screen and (max-width: 1600px) {
  .footer {
    padding-top: 50px;
  }
  .chat h1 {
    font-size: 36px;
  }
  .community .wrapper .window {
    max-height: 600px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: relative;
    padding: 27px 40px;
    height: 60vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .community .wrapper .avatar {
    max-height: 600px;
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    height: 60vh;
  }
}
@media screen and (max-width: 1280px) {
  .about {
    gap: 0px;
  }
  .actities {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .actities .back {
    top: -20px !important;
    left: -20px !important;
  }
  .gallery .gallery-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1150px) {
  .header-content {
    position: relative;
  }
  .hamburger-menu {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .header-content {
    position: relative;
  }
  h1 {
    font-size: 25px;
  }
  .wrapper {
    padding: 0px 20px;
  }
  .about {
    padding-top: 20px;
  }
  .about .about-text {
    padding: 30px;
  }
  .actities {
    gap: 50px;
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .actities .active-card {
    width: auto;
    max-width: 1200px;
  }
  .actities .active-card .back {
    width: 70vw;
  }
  .actities .active-card img {
    max-width: 1200px;
    width: 100%;
  }
  .objects .arrows .swiper-button-next {
    right: -10px;
  }
  .objects .arrows .swiper-button-prev {
    left: -10px;
  }
  .gallery {
    /*  reseting the css for the class within the divs to show a different way to achieve grid control using the nth childs*/
  }
  .gallery h2 {
    padding-bottom: 50px;
  }
  .gallery .gallery-wrapper {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-gap: 2;
    grid-auto-flow: dense;
  }
  .gallery .gallery-container:nth-child(3n+2) {
    grid-column: 1/span 2;
    grid-row-end: span 2;
  }
  .gallery .gallery-container:nth-child(4n+3) {
    grid-column: 2/span 1;
    grid-row-end: span 2;
  }
  .gallery .w-1,
  .gallery .w-2,
  .gallery .w-3,
  .gallery .w-4,
  .gallery .w-5 {
    grid-column: span 1;
  }
  .gallery .h-1,
  .gallery .h-2,
  .gallery .h-3,
  .gallery .h-4,
  .gallery .h-5 {
    grid-row: span 1;
  }
  .community {
    margin-top: 100px;
  }
  .community .wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .community .wrapper .window {
    padding: 27px !important;
    height: 60vh;
    width: calc(100% - 40px);
    padding: 27px;
  }
  .community .wrapper .avatar {
    width: calc(100% - 40px);
  }
  .community .wrapper .background {
    height: 790px;
  }
  .chat h1 {
    font-size: 26px;
  }
  .about {
    padding-top: 120px !important;
  }
  header {
    padding-top: 28px;
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  header nav {
    display: none !important;
  }
  footer {
    padding-top: 50px !important;
  }
  footer nav {
    gap: 0px !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer nav a {
    margin-left: 30px;
  }
}
@media screen and (max-width: 850px) {
  .about {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-text {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-top: 50px !important;
    width: auto;
    padding: 5vw;
  }
  .about .about-text .chat {
    padding: 0px 30px;
  }
  .about .image-cont {
    height: 70vh;
    width: auto;
  }
  .objects h2 {
    padding-bottom: 25px;
  }
  .objects .arrows {
    top: 0px;
    height: 50px;
    padding-bottom: 50px;
  }
  .objects .arrows .swiper-button-next {
    right: 20px;
  }
  .objects .arrows .swiper-button-prev {
    left: 20px;
  }
  .objects .swiper .active-card {
    max-width: 300px;
    width: 35vw;
  }
  .objects .swiper .active-card img {
    height: 35vw;
    width: 35vw;
    max-width: 300px;
  }
}
@media screen and (max-width: 396px) {
  .community .wrapper .window {
    height: auto;
  }
  .community .wrapper .window h2 {
    word-break: break-all;
  }
}/*# sourceMappingURL=styles.css.map */